<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.augfw.infra.modules.member.MemberMapper">

	<resultMap id="resultMapObj"
		type="com.augfw.infra.modules.member.Member"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		select aa.* from (
		SELECT
		seq
		,id
		,name
		,mobile
		,email
		,dob
		,gender
		,level
		,signupPath
		,goal
		,joinDate
		,resignDate
		FROM member
		WHERE
		1=1

		<if test="shDelNy !=null and !shDelNy.equals('')">AND resignNy = #{shDelNy}</if>
		<if test="shValue !=null"></if>

		<choose>
			<when test="shOption == 1">AND id LIKE CONCAT('%', #{shValue},'%')</when> <!-- 숫자: = #{shValue} -->
			<when test="shOption == 2">AND mobile = right(#{shValue},4)</when> <!-- 문자열: LIKE CONTACT('%', #{shValue},'%') -->
			<when test="shOption == 3">AND name LIKE CONCAT('%', #{shValue},'%')</when>


			<when test="shOptionDate == 1">AND joinDate BETWEEN #{ShDateStart} AND #{shDateEnd}
			</when>
			<when test="shOptionDate == 2">AND dob BETWEEN #{ShDateStart} AND #{shDateEnd}
			</when>

			<otherwise></otherwise>
		</choose>

		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}

	</select>

	<insert id="insert">
		INSERT INTO member(
		id
		,name
		,mobile
		,email
		,dob
		)
		VALUES(
		#{id}
		,#{name}
		,#{mobile}
		,#{email}
		,#{dob}
		)

		<selectKey resultType="String" keyProperty="seq"
			order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
		a.*
		FROM ccg
		WHERE 1=1
		AND
		seq = #{seq}
	</select>

	<select id="selectOneCount" resultType="Integer">
		SELECT
		COUNT(*)
		FROM member
		WHERE 1=1

		<if test="shDelNy !=null and !shDelNy.equals('')">AND resignNy = #{shDelNy}</if>
		<if test="shValue !=null"></if>

		<choose>
			<when test="shOption == 1">AND id LIKE CONCAT('%', #{shValue},'%')</when> <!-- 숫자: = #{shValue} -->
			<when test="shOption == 2">AND mobile = right(#{shValue},4)</when> <!-- 문자열: LIKE CONTACT('%', #{shValue},'%') -->
			<when test="shOption == 3">AND name LIKE CONCAT('%', #{shValue},'%')</when>


			<when test="shOptionDate == 1">AND joinDate BETWEEN #{ShDateStart} AND #{shDateEnd}
			</when>
			<when test="shOptionDate == 2">AND dob BETWEEN #{ShDateStart} AND #{shDateEnd}
			</when>

			<otherwise></otherwise>

		</choose>

	</select>

	<update id="updateDelete"> <!-- 가짜 삭제 -->
		UPDATE member SET resignNy = 1 WHERE 1=1 AND seq = #{seq}
	</update>

	<delete id="delete"> <!-- 진짜 삭제 -->
		DELETE FROM member WHERE 1=1 AND seq = #{seq}
	</delete>

</mapper>	