<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.augfw.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.augfw.infra.modules.code.Code"></resultMap>
    
	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq
			,a.ccg_seq 
		    ,b.name
			,a.orderNy 
		    ,a.codename
		from cc a
		inner join ccg b on a.ccg_seq = b.seq
		where 1=1
			<if test="shdelNy !=null and !shdelNy.equals('')">AND a.delNy = #{shdelNy}</if>
			<if test="shValue !=null"></if>
			
			<choose>
				<when test="shOption == 1">AND a.seq = #{shValue}</when> <!-- 숫자: = #{shValue} -->
				<when test="shOption == 2">AND b.name LIKE CONCAT('%', #{shValue},'%')</when> <!-- 문자열: LIKE CONTACT('%', #{shValue},'%') -->
				<when test="shOption == 3">AND a.orderNy = #{shValue}</when>
				<when test="shOption == 4">AND a.codename LIKE CONCAT('%', #{shValue},'%')</when>
				<when test="shOption == 5">AND a.ccg_seq = #{shValue}</when>
				
				
				
				<otherwise></otherwise>
			</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cc(
			orderNy
			,codename
			,delNy
			,ccg_seq
		)
		VALUES(
			#{orderNy}
			,#{codename}
			,0
			,1
		)
		
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM cc a 
		WHERE 1=1
			AND seq = #{seq}
	</select>
	
	<!-- for cache -->
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			seq
			, codename	
			, ccg_seq
			, orderNy
		FROM
			cc
		WHERE 1=1
			AND delNy = 0
		   	AND userNy = 1 
    </select>
	
</mapper>	